:root {
  --primary-color: #fff000; /* Couleur principale*/
  --secondary-color: #9a9165; /* Couleur secondaire*/
  --tertiary-color: #fdf9ec; /* Troisième couleur*/
  --fourth-color: #1f1c0c; /* Quatrième couleur*/
  --fifth-color: #EFD19A; /* Cinquième couleur*/
  --sixth-color: #ffc400; /* pour Hover bouton */
}

#app {
  width: 100%;
  height: 100%;
}

